  <h1 class="display-3">
    Hack To Hire
  </h1>
  <small class="text-muted mb-2">Hack To Hire Team ~ Published at : 30-04-2021</small>
  <p class="lead">
    The target of this test is to build a clone application of the famous platform ‘Medium’ using
    Angular (version 10) for the frontend, Symfony (version 4 or 5) based on API Platform and
    NodeJS for the backend connected to Relational database (SQL).<br />
    For this clone application, we have to type of users:<br />
    ● Simple user<br />
    ● Admin<br />
    A simple use, after signing-in, can create a new article, react to existing articles, leave a
    comment, edit his own articles, or even delete or unpublish one of them. Besides, the
    connected user can search for keywords inside the content of the articles or by tags. In
    addition, an admin has the right to execute any action on any articles except deleting
    articles.
    <br />
  </p>
  <br />
